.row
  .col-md-6
    %h2 Log in

    = form_tag( login_user_path, method: :post ) do
      .form-group{ class: ('has-error' if @login_error) }
        = label_tag :login_email, "Email", class: 'control-label'
        = text_field_tag "login[email]", '', class: 'form-control'

      .form-group{ class: ('has-error' if @login_error) }
        = label_tag :login_password, "Password", class: 'control-label'
        = password_field_tag "login[password]", '', class: 'form-control'

      = button_tag "Log in", class: 'btn btn-default'

    %p= link_to 'Forgot password?', forgot_password_path



  .col-md-6
    %h2 Sign up

    = form_tag( signup_user_path, method: :post ) do
      .form-group{ class: form_error_class_on( @new_user, :email ) }
        = label_tag :login_email, "Email", class: 'control-label'
        = text_field_tag "signup[email]", @new_user.email, class: 'form-control'
        = form_error_list( @new_user, :email )

      .form-group{ class: form_error_class_on( @new_user, :display_name ) }
        = label_tag :login_email, "Display name (optional)", class: 'control-label'
        = text_field_tag "signup[display_name]", @new_user.display_name, class: 'form-control'
        = form_error_list( @new_user, :display_name )

      .form-group{ class: form_error_class_on( @new_user, :password ) }
        = label_tag :login_password, "Password", class: 'control-label'
        = password_field_tag "signup[password]", '', class: 'form-control'
        = form_error_list( @new_user, :password )

      .form-group{ class: form_error_class_on( @new_user, :password_confirmation ) }
        = label_tag :login_password, "Confirm Password", class: 'control-label'
        = password_field_tag "signup[password_confirmation]", '', class: 'form-control'
        = form_error_list( @new_user, :password_confirmation )

      = button_tag "Sign up", class: 'btn btn-default'
    
    %p By signing up to this site you agree to the #{link_to 'terms and conditions', about_legal_path}.

