%h1 Reset my password

= form_for( reset_password_path, method: 'POST' ) do
  = hidden_field_tag 'reset_password[token]', @token

  .form-group{ class: ('has-error' if @post_error) }
    = label_tag :reset_password_password, 'Password', class: 'control-label'
    = password_field_tag 'reset_password[password]', class: 'form-control'
    = form_error_list( @reset_user, :password )

  .form-group{ class: ('has-error' if @post_error) }
    = label_tag :reset_password_password_confirmation, 'Password Confirmation', class: 'control-label'
    = password_field_tag 'reset_password[password_confirmation]', class: 'form-control'
    = form_error_list( @reset_user, :password_confirmation )

  .form-group
    = submit_tag "Change password", class: 'btn btn-primary'
