%h1 Change password

= form_tag( change_password_path, method: :post) do

  .form-group{ class: ('has-error' if @post_error) }
    = label_tag 'change_password_old_password', 'Old password', class: 'control-label'
    = password_field_tag 'change_password[old_password]'
    = form_error_list( @user, :old_password )

  .form-group{ class: ('has-error' if @post_error) }
    = label_tag 'change_password_new_password', 'New password', class: 'control-label'
    = password_field_tag 'change_password[new_password]'
    = form_error_list( @user, :new_password )

  .form-group{ class: ('has-error' if @post_error) }
    = label_tag 'change_password_confirm_new_password', 'Confirm new password', class: 'control-label'
    = password_field_tag 'change_password[confirm_new_password]' 
    = form_error_list( @user, :confirm_new_password )

  .form-group
    = submit_tag 'Save'
